<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Platform Settings -->
    <add key="LoginUrl" value="https://example.com/admin"/>
    <add key="AddNewUserUrl" value="https://example.com/wp-admin/user-new.php"/>
    <add key="Admin1UserNameOrEmail" value="Admin1UserNameOrEmail"/>
    <add key="Admin2UserNameOrEmail" value="Admin2UserNameOrEmail"/>
    <add key="PreRegisterRole" value="pre_register"/>
    <add key="PostRegisterRole" value="member"/>

    <!-- Data Columns -->
    <add key="UserNameColumn" value="Username" />
    <add key="EmailColumn" value="Email" />
    <add key="MembershipColumn" value="Membership" />
    <add key="ColumnNames" value="Username,Email,Membership" />
    
  </appSettings>
</configuration>
