<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultFilePath" value="C:\Users\user\repos\default.xlsx"/>
    <add key="LoginUrl" value="https://example.com/admin"/>
    <add key="AddNewUserUrl" value="https://example.com/wp-admin/user-new.php"/>
    <add key="Admin1" value="Admin1"/>
    <add key="Admin2" value="Admin2"/>
    <add key="UserNameColumn" value="Username" />
    <add key="EmailColumn" value="Email" />
    <add key="MembershipColumn" value="Membership" />
    <add key="PreRegisterRole" value="pre_register"/>
    <add key="PostRegisterRole" value="member"/>
  </appSettings>
</configuration>